body{background-color: aqua;
background-image:url(/2023-Porsche-911-GT3-R-Rennsport-004-1080\ \(1\).jpg);
background-position: center;
background-size: cover;
background-repeat: repeat-x;
ba
}
h1{color: blue;
text-align: center;
margin-top:150px ;
font-size: 75px;
font-style: italic;
}

